{% extends 'core/base.html' %}

{% block content %}
<h2 class="mb-3">Lista de Produtos</h2>

<div class="mb-3">
    <a href="{% url 'estoque:produto_create' %}" class="btn-laranja">Cadastrar Produto</a>
    <a href="{% url 'estoque:entrada_create' %}" class="btn-verde">Registrar Entrada</a>
    <a href="{% url 'estoque:saida_create' %}" class="btn-azul">Registrar Saída</a>
    </div>

<table>
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Quantidade</th>
    </tr>
    {% for produto in produtos %}
    <tr>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.descricao }}</td>
        <td>{{ produto.quantidade }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum produto cadastrado.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
